@model YN_Network.Areas.News.Models.Article
<div class="news-item callout">
    <h3><a href="@Model.Url" target="_blank">@Model.Title</a></h3>
    <em>@Model.PublishedAt.ToString()</em>
    <div>
        @if (Model.UrlToImage != null)
        {
            <img src="@Model.UrlToImage" width="100%" style="max-width:600px" alt="@Model.Title" onerror="this.style.display='none'" />
        }
    </div>

    <div>
        <p>
            @Model.Description
        </p>
    </div>

    <div>
        <img src="@Model.Source.SourceLogoUrl" asp-append-version="true" width="32px" />  @Model.Source.Name - @Model.Author
    </div>
    <hr />
</div>