<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation-float.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <!-- Compressed JavaScript -->
    <link href="/css/site.css" rel="stylesheet" type="text/css" />
    <script src="https://github.com/Daddoon/Blazor.Polyfill/releases/download/3.0.1/blazor.polyfill.min.js"></script>

    <title>YN Network - Something New!</title>

    <style>
    </style>
</head>
<body>
    <div id="topbar">

    </div>
    <header>
        <div class="row">
            <div class="columns small-12 medium-12">
                <h2 class="logo">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="/images/image.png" width="150px" asp-append-version="true" />
                        @((ViewContext.RouteData.Values["area"] != null) ?
  ViewContext.RouteData.Values["area"] :
"Network")

                    </a>
                </h2>
            </div>

        </div>
    </header>
    <div id="top-menu">
        <div class="row">
            <div class="columns small-12">
                <nav style="display:inline-block">
                    <a class="menu-item @(
        (string)ViewContext.RouteData.Values["Area"] == null &&
        (string)ViewContext.RouteData.Values["Controller"] == "Home" &&
        (string)ViewContext.RouteData.Values["Action"] == "Index"
  ? "active"
  : "" )" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="menu-item @((string)ViewContext.RouteData.Values["area"] == "Questions" ? "active" : "" )" asp-area="Questions" asp-controller="Home" asp-action="Index">Questions & Answers</a>
                    <a class="menu-item @((string)ViewContext.RouteData.Values["area"] == "News" ? "active" : "" )" asp-area="News" asp-controller="Home" asp-action="Index">News</a>
                    <a class="menu-item @((string)ViewContext.RouteData.Values["area"] == "Weather" ? "active" : "" )" href="#">Weather</a>
                    <a class="menu-item @((string)ViewContext.RouteData.Values["area"] == "Countries" ? "active" : "" )" href="#">Countries</a>
                </nav>
            </div>


        </div>
    </div>
    <div class="row">

    </div>
    <div id="content">
        @RenderBody()
    </div>

    <footer class="container">
        <div style="margin-top:50px"></div>
        @DateTime.Now.Year.ToString()
        <small>&copy; YN Network. All Rights Reserved.</small>
    </footer>
    <script src="_framework/blazor.server.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
</body>
</html>
