@model YN_Network.Areas.Questions.ViewModels.QuestionsHomeViewModel

    <div class="row">
        <div class="columns">
            An original YN Network feature. Coming Soon!
        </div>
    </div>

    <div class="row">
        <div class="columns small-12 medium-8">
            <h3>
                Latest Questions
            </h3>
        </div>
        <div class="columns small-12 medium-4">
            <h3>Most Popular</h3>
            <ul class="list">
                @foreach (YN_Network.Areas.Questions.Models.Question item in Model.MostPopularQuestions)
                {
                    <li>@item.Title</li>
                    }
                </ul>
          
        </div>
    </div>
    <div class="row">
        <div class="columns small-12 medium-4">
            <p>
                <a class="button" asp-area="Questions" asp-controller="Home" asp-action="Create">Ask!</a>
            </p>
            @foreach (YN_Network.Areas.Questions.Models.Question item in Model.Questions)
            {
                <div class="row" style="border:1px solid #ccc">
                    <div class="columns small-12">
                        <a
                           asp-area="Questions"
                           asp-controller="Home"
                           asp-action="Details"
                           asp-route-id="@item.Id"
                           style="font-size:20px">@item.Title</a>
                        <span class="datetime">@item.CreatedAt.ToString("D")</span>
                        <p>
                            @item.Description
                        </p>
                    </div>
                    <div class="answers-preview" title="Visit Question details to answer.">
                        <div class="columns small-6" style="cursor:not-allowed;">
                            <button class="button" disabled="disabled" style="width:100%">@item.OptionA</button>
                        </div>
                        <div class="columns small-6">
                            <button class="button" disabled="disabled" style="width:100%">@item.OptionB</button>
                        </div>

                    </div>
                </div>
            }
        </div>
    </div>
